<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="mm.pndaza.tipitakamyanmar" />
        <package android:name="mm.pndaza.palitawnissaya" />
        <package android:name="mm.pndaza.atthanissaya" />
        <package android:name="mm.pndaza.tikanissaya" />
        <package android:name="mm.pndaza.tikatakaabidan" />
    </queries>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="mm.pndaza.tipitakapali.activity.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="mm.pndaza.tipitakapali.activity.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="mm.pndaza.tipitakapali.activity.BookReaderActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="mm.pndaza.tipitakapali.BookReaderActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="mm.pndaza.tipitakapali"
                    android:pathPrefix="/open"
                    android:scheme="tipitakapali" />
            </intent-filter>
        </activity>
        <activity android:name="mm.pndaza.tipitakapali.activity.SearchResultActivity" />
        <activity android:name="mm.pndaza.tipitakapali.activity.SettingActivity" />
    </application>

</manifest>